@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans:wght@600&family=Rubik:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/*  background for siman landing page
background: #F00000;
background: -webkit-linear-gradient(to right, #DC281E, #F00000);
background: linear-gradient(to right, #DC281E, #F00000); */

/* Color themes for siman landing page 
.Dark-Red-gradient-1-rgba { color: rgba(58, 0, 0, 1); }
.Dark-Red-gradient-2-rgba { color: rgba(93, 4, 8, 1); }
.Dark-Red-gradient-3-rgba { color: rgba(126, 0, 1, 1); }
.Dark-Red-gradient-4-rgba { color: rgba(156, 2, 4, 1); }
.Dark-Red-gradient-5-rgba { color: rgba(255, 1, 4, 1); } */

/* body {
    background: #F00000;
    background: -webkit-linear-gradient(to right, #DC281E, #F00000);
    background: linear-gradient(to right, #DC281E, #F00000);
} */
p {
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Young Serif', serif;
    font-size: 17.6px;
}

/* * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
} */

/* p {
    font-family: 'Kanit', sans-serif;
} */

body {

    /* background-color: #DE6C83; */

    padding: 0;
    margin: 0;
}

.container-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;

    text-align: center;

    gap: 3.125rem;
    padding-left: 5rem;
    padding-right: 5rem;

    grid-template-areas:
        /*  "navbar navbar navbar" */
        "text text text"
        "ofertas descuentos eventos"
    ;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-index {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    bottom: 6.25rem;
}

.container-ofertas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;

    text-align: center;

    gap: .3125rem;
    padding: .9375rem;
    padding-bottom: 7.8125rem;
    grid-template-areas:
        /*   "navbar navbar navbar" */
        "desc-a desc-a img-a"
        "img-b desc-b desc-b"
        "desc-c desc-c img-c"
    ;
}

.container-eventos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;

    text-align: center;

    gap: 3.125rem;
    padding: .9375rem;
    padding-bottom: 7.8125rem;


    grid-template-areas:
        /*   "navbar navbar navbar" */
        "desc-ev desc-ev img-ev"
        "hiw hiw hiw"
        "img1-ev des1-ev des1-ev"
        "des2-ev des2-ev img2-ev"
    ;
}

.contenedor-index-text-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;

    text-align: center;

    gap: .625rem;
    padding-bottom: 4.0625rem;
}

.container-descuentos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;


    text-align: center;

    gap: .3125rem;
    padding: .9375rem;

    grid-template-areas:
        /*  "navbar navbar navbar navbar" */
        "desc-2 desc-2 desc-2 desc-2"
        "dd1 dd2 dd3 dd4"
    ;
}

/* .flex-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
} */

.description-desc {
    grid-area: desc-2;
}

.dd1 {
    grid-area: dd1;
}

.dd2 {
    grid-area: dd2;
}

.dd3 {
    grid-area: dd3;
}

.dd4 {
    grid-area: dd4;
}

.desc-eventos {
    grid-area: desc-ev;

}

.img-desc-ev {
    grid-area: img-ev;
}

.hiw {
    grid-area: hiw;
}

.img1-ev {
    grid-area: img1-ev;
}

.desc1-ev {
    grid-area: des1-ev;
}

.img2-ev {
    grid-area: img2-ev;
}

.desc2-ev {
    grid-area: des2-ev;
}

/* .border-test {
    border: .0625rem solid green;

} */

.img-index-siman {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3.125rem;
}

.text-index-text {
    /* padding-top: 3.4375rem; */
    grid-area: text;
}

.text-index {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: .625rem;
    position: relative;
    flex-direction: column;
}

.navbar {
    margin-bottom: 1.5625rem;
    padding: 1.5rem;
    grid-area: navbar;
    z-index: 999;
    position: sticky;
    background-color: rgba(255, 1, 4, 1);
    border-radius: 0rem 0rem .625rem .625rem;
    text-align: left;
    top: 0;

}

/* .background-index{
    background-color: red;
} */

.ofertas {
    grid-area: ofertas;
    /*     position: relative;
 */
    /* margin-bottom: 1.5625rem; */
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.img-siman {
    width: 4.6875rem;
    height: auto;
}

li.img-siman {
    padding-top: 3.125rem;
}


ul.navbar li {
    display: inline;
    margin: 1.5625rem;
    text-align: center;

}

ul.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 22.72px;

}

.descuentos {
    margin-top: -5.3125rem;
    margin-bottom: -5.3125rem;
    grid-area: descuentos;
}

.eventos {
    grid-area: eventos;
}

.oferta-a-desc {
    grid-area: desc-a;
}

.oferta-a-img {
    grid-area: img-a;
}

.oferta-b-desc {
    grid-area: desc-b;
}

.oferta-b-img {
    grid-area: img-b;
}

.oferta-c-desc {
    grid-area: desc-c;
}

.oferta-c-img {
    grid-area: img-c;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img-descuentos {
    padding-top: 7.1875rem;
    padding-bottom: 3.125rem;
}

.max-height {
    height: 160px;
}

.button-ofertas-left {
    padding-top: 1.5625rem;
    padding-left: 3.125rem;
    display: flex;
    align-self: flex-start;
}

.button-ofertas-rigth {
    padding-top: 1.5625rem;
    padding-left: 3.125rem;
    display: flex;
    align-self: flex-end;
}

.css-button-fully-rounded--red {
    min-width: 8.125rem;
    height: 2.5rem;
    color: #fff;
    padding: .3125rem .625rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 1.25rem;
    border: .125rem solid #d90429;
    background: #d90429;
}

.css-button-fully-rounded--red:hover {
    background: #fff;
    color: #d90429
}

.background-index {
    background-color: #e0e7ec;
    border-radius: 1.5625rem;
}

.footer {
    height: 05%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.875rem;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) .5rem .0625rem .0625rem .375rem;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    flex-wrap: wrap;
    position: fixed;
    color: black;
}

.social-images {
    align-items: flex-end;
    height: 2vw;
    object-fit: contain;
    padding: 0 1.25rem;
}

/* @media screen and (max-width:30rem) {
    body {
        background-color: blueviolet;
    }
}

@media screen and (min-width:30.0625rem) and (max-width:48rem) {
    body {
        background-color: green;
    }
}

@media screen and (min-width:48.0625rem) and (max-width:128rem) {
    body {
        background-color: gray;
    }
} */